*{
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: center;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: rgb(45, 19, 19);
    border: 2px solid red;
    border-radius: 10px;
   padding: 25px;
}
.container form input{
    width: 60px;
    height: 60px;
    margin: 10px;
    padding: 10px;
    border: 2px solid coral;
    border-radius: 10px;
    cursor: pointer;
    caret-color: rgb(106, 255, 80);
    font-size: 25px;
    color: black;
}

form .display input{
    width: 85%;
    text-align: right;
    font-size: 25px;
}

.container form .btn{
    width :145px;
}

.container form .btn1{
    color: rgb(11, 214, 31);
}